@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

#janskrzy {
    font-family: 'Roboto', sans-serif;
    background-color: hsl(0, 0%, 99%);
    color: hsl(0, 0%, 39%);
    z-index: -1;
    // INTRO
    // .intro {

    // }

    // TITLE-SEQUENCE
    .title-sequence {
        padding: 40vh 20vw;
        .title {
            font-size: 7rem;
            text-transform: uppercase;
            text-align: center;
        }
    }
    // EXPLANATION

    // CO-OP

    // VILLAINS

    // FALL

    // BOUNCE

    // TURRET

    // SPACE
    
}